*{
    font-family:verdana;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#logo{
    font-family:helvetica;
    color:#dd0000;
    text-decoration: none;
    font-size: 30px;
}
header{
    background:#ddd;
    position:relative;
}
nav{
    position:absolute;
    right:0px;
    top:0px;
}
nav ul{
    list-style: none;
}
nav li{
    display:inline-block;
}
nav a{
    display:block;
    text-decoration: none;
    background:#000;
    color:#fff;
    padding:5px 10px;
    margin:5px 0px;
}